:root{
    --gray: #151b2b;
    --glass: #fafafa10;
    --blue: #6cb4ee;
    --purple: #33426d;
    --pink: #f06292;
    --yellow: #ecec43;
    --yellowglass: #ecec433c;
    --pinkglass: #f062914f;
    --blueglass: #6cb3ee63;
    --purpleglass: #8a46c52f;
    --redglass: #ff3c3c4e;
    --greanglass: #3dab3d34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start */
.start-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 615px;
    background-color: var(--gray);
    color: #ffff;
}

.start-container .photo, .start-container .info{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .photo{
    background-color: #6cb4ee;
} */

.info{
    text-wrap: wrap;
}

.photo-container{
    width: 25rem;
    height: 20rem;
    border: 3px solid var(--glass);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 1rem;
}

.info {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.t1 h1{
    font-size: 4.3rem !important;
    font-weight: bold;
}

.t1 .name:hover{
    color: #ecec43;
}

.t1 h2{
    margin-top: 30px;
    font-weight: 400;
}

.t2 i{
    margin-right: 10px;
}

.t2{
    font-weight: 400;
    width: 600px;
}

.t3 p{
    text-wrap: wrap;
    font-size: 1rem;
}

.info .btns{
    width: 600px;
}
.info .btn{
    color: #ffff;
    margin-left: 20px;
}

.info .btn a{
    text-decoration: none;
    color: #ffff;
}
.info .btn a:hover{
    text-decoration: none;
    color: var(--gray);
}
/* .info .t1 h1{
    display: block;
}

.info .t1 h2{
    display: block;
} */

.glass-effect{
    background-color: var(--glass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

/* text */
h1 {
    font-size: 2.7rem !important;
}
h2{
    font-size: 1.5rem !important;
}
h3{
    font-size: 1rem !important;
}
.portfolio-container .title i{
    color: var(--yellow);
    font-weight: 600;
}

/* portfolio */
.portfolio-container{
    min-height: 1100px;
    background-color: var(--purple);
}

.portfolio-container .title{
    height: 250px;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-text{
    padding-left: 10%;
}

.portfolio-container h1,.portfolio-container h2, .portfolio-container h3{
    color: #ffff;
}

.portfolio-container h1{
    font-size: 3.7rem !important;
}

.portfolio-container .title h2{
    font-size: 1rem !important;
    font-weight: 200;
}

.portfolio-container h3{
    margin-top: 25px;
    font-size: 1.2rem !important;
    font-weight: 200;
}

.description-container h2{
    font-size: 1.1rem !important;
    font-size: 600;
}

.description-container h3{
    /* height: 100px; */
    text-wrap: wrap;
}

.desc-tools-container{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.desc-tool{
    width: auto;
    height: 1.4rem;
    padding: 0 0.7rem;
    border: 1.5px solid var(--yellowglass);
    background-color: var(--yellowglass);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.4rem;
    font-size: 0.7rem;
    color: #ffff;
}

.git i{
    color: #fff;
    font-size: 1.2rem;
}

.portfolio-container .circule{
    width: 6rem;
    height: 6rem;
    background-color: #525f84;
    border-radius: 50%;
}

.portfolio-container .proyects-body{
    min-height: 600px;
    padding: 5%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.7rem;
}

.box{
    width: 22rem;
    height: 30rem;
    border-radius: 3%;
    border: 3px solid var(--glass);
    padding: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.7rem;
}

.box .video-container{
    width: auto;
    border-radius: 2%;
    display: flex;
    align-items: center;
}

.box .description-container{
    width: auto;
}

/* .box-latest{
    width: 36rem;
    height: 40rem;
    background-color: #151b2b;
} */

video{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.4rem;
}

/* tech */
.technologies-divider{
    padding-left: 10%;
    width: 550px;
    /* height: 100px; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.tech{
    align-items: center;
    height: 2.4rem;
    width: auto;
    padding: 0.3rem 1.6rem;
    border-radius: 0.5rem;
    /* border: 2px solid var(--glass); */
    color: #fff;
    font-size: 0.9rem;
}

.technologies-divider .yw{
    border: 1px solid var(--yellowglass);
    background-color: var(--yellowglass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.technologies-divider .bl{
    border: 1px solid var(--blueglass);
    background-color: var(--blueglass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.technologies-divider .gr{
    border: 1px solid var(--greanglass);
    background-color: var(--greanglass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.technologies-divider .pl{
    border: 1px solid var(--purpleglass);
    background-color: var(--purpleglass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.technologies-divider .pk{
    border: 1px solid var(--pinkglass);
    background-color: var(--pinkglass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.technologies-divider .rd{
    border: 1px solid var(--redglass);
    background-color: var(--redglass);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

/* certifications */
.certificates-container{
    padding-top: 40px;
    height: 840px;
    background-color: var(--purple);
    justify-items:  center;
    color: #fff;
}

.certificates-container h1{
    color: #fff;
    font-size: 1rem;
}

.c-card h4{
    font-size: 1rem;
}

.cert{
    margin-top: 40px;
    width: 90vw;
    height: 700px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.cert .c-card{
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--glass);
    border-radius: 0.7rem;
    padding: 5%;
    /* display: grid; */
    /* grid-template-rows: 0.5fr 1fr; */
    /* gap: 1rem; */
}

.c-card .img-container{
    /* width: auto; */
    padding-bottom: 0.6rem;
    height: 50%;
    border-radius: 2%;
    align-content: starts;
    display: flex;
    align-items: start;
    justify-content: center;
}

.c-card .fa-medal{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 35px;
    display: inline;
    padding: 0;
    margin: 0;
    height: 4px;
    font-size: 2rem;
    color: var(--yellow);
}

.c-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.c-card .description-container{
    height: 50%;
    width: auto;
    justify-items: center;
    /* justify-self: center; */
    margin-top: 10px;
}

.c-card .description-container a{
    text-decoration: none;
    color: var(--blue);
    display: block;
    margin-top: 20px;
    font-size: 0.9rem;
}

.description-container h4, .description-container a{
    font-weight: 400;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    transform: scale(0.7);
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.modal-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* footer */
footer {
    position: relative;
    height: 200px;
    color: #797d7f;
    padding: 20px 150px;
}

footer h2 {
    font-size: 19px;
    text-wrap: wrap;
    width: 450px;
    margin-bottom: 15px;
}

footer h3 {
    font-size: 17px;
    text-wrap: wrap;
    min-width: 250px;
    max-width: 450px;
    margin-bottom: 25px;
}

footer h2::selection,
footer h3::selection {
    color: #13274f;
}

footer .contacto li {
    min-width: 150px;
    font-size: 16px;
    text-wrap: wrap;
}

footer .contacto i {
    font-size: 18px;
    padding-bottom: 8px;
    display: inline-block;
    padding-right: 10px;
    color: rgba(20, 20, 20, 0.822);
}

footer .contacto li::selection {
    color: #13274f;
}

footer h4 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 13px;
    text-align: center;
}

footer span {
    color: #f06292;
}

footer h4::selection {
    color: #13274f;
}

footer span::selection {
    background-color: #f06292;
    color: #fff;
}

.contacto a {
    color: #797d7f;
    text-decoration: none;
}